body {
    color: white;
    background: black;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

html, body {
    height: 100%;
}

.terminal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97vmax;
    font-size: 12pt;
}

.terminal {
    overflow-y: scroll;
    height: 90vmin;
    margin-right: -5px;
    margin-bottom: 5px;
    position: relative;
}

.terminal pre {
    margin: 0px;
}

.terminal pre:empty:before {
    content: ' ';
    white-space: pre;
}

.input-container {
    display: inline-flex;
    width: 100%;
}

.input-container * {
    color: white;
    /* font-size: 1.2em; */
    /* font-family: 'Courier New', Courier, monospace; */
}

.textbox-container {
    display: table-cell;
    width: 100%;
    padding-right: 0.4em;
}

.textbox-container > input {
    width: 100%;
    font-size: 0.8em;
    padding: 5px;
    background: black;
    border: 2px solid;
    border-radius: 5px;
}

.input-container > button {
    margin-right: -4px;
    margin-left: 10px;
    background: black;
    border: 2px solid;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d288;
}

.button-54 {
    font-family: 'Consolas', monospace;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 2px 2px 0px 0px, 2.5px 2.5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 20px;
    margin-bottom: 10px;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
